*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e3dfdf;
}

.index-box{
  width: 1000px;
  margin: auto;
}

.links-box{
  width: 1000px;
  height: 100px;
  border: 1px solid black;
  margin-top: 20px;
  background-color: #e3dfdf;
  color: black;
}

.login-link a{
  padding: 5px;
  margin-right: 20px;
  margin-top: 30px;
  float: right;
  color: black;
  text-decoration: none;
  border: 1px solid black;
}

.login-link:hover a {
  background-color: black;
  color: #e3dfdf;
}

.flight-link a{
  padding: 5px;
  margin-right: 20px;
  margin-top: 30px;
  float: right;
  color: black;
  background-color: #e3dfdf;
  text-decoration: none;
  border: 1px solid black;
}

.flight-link:hover a {
  background-color: black;
  color: #e3dfdf;
}

.header-title {
  height:98px;
  padding-top: 25px;
  padding-left:10px;
  background-color: #e3dfdf;
}

.content-box{
  width: 1000px;
  margin-top: 10px;
  border: 1px solid black;
  height: 500px;
}